@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --foreground: #1D1E20;
  --gray-primary: #111111;
  --gray-secondary: #555555;
  --purple: #673DE6;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    color-scheme: light !important;
  }

  body {
    background: var(--background);
    font-family: var(--font-inter);
  }
}
