@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --black: #1D1E20;
  --gray1: #111111;
  --gray2: #555555;
  --purple: #673DE6;
}

@layer base {
  body {
    background: var(--background);
    font-family: var(--font-inter);
  }
}

@layer utilities {
  .bg-gray-primary {
    background-color: var(--gray1);
  }
  .bg-white-primary {
    background-color: var(--background);
  }

  .text-white-primary {
    color: var(--background);
  }

  .text-black-primary {
    color: var(--black);
  }

  .text-gray-primary {
    color: var(--gray1);
  }

  .text-gray-secondary {
    color: var(--gray2);
  }
  .text-purple-primary {
    color: var(--purple);
  }
}

